<header>
    <div class="overlay">
        <h1>Discover Kerala.</h1>
        <h2>God's Own Country</h2>
        <p>Nestled in the southwestern tip of India, Kerala is a tropical paradise renowned for its lush greenery, serene backwaters, and pristine beaches. Known as "God's Own Country," this enchanting state offers a diverse array of experiences for every traveler.</p>
        <div class="input-container">
            <input type="text" class="curved-input" placeholder="Search...">
            <div class="curved-text"></div>
          </div>
    </div>
</header>
<app-card-grid></app-card-grid>